.row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.modalHead {
  margin-bottom: 32px;
  display: flex;
  align-items: flex-end;
  padding-right: 52px;
}

.modalTitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}
