.button {
  height: 44px;
  width: auto;
  padding: 10px 36px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;

  &.primary {
    background-color: $c-violet;
    color: $c-white;

    &:hover, &:focus {
      background-color: $c-violet-light;
    }
  }

  &.primary {
    background-color: $c-violet;
    color: $c-white;

    &:hover, &:focus {
      background-color: $c-violet-light;
    }
  }

  &.secondary{
    width: 216px;
    border: 1px solid $c-violet;
    background-color: transparent;
    color: $c-violet;
    transition: border-color 0.2s, background-color 0.2s, color 0.2s;

    &:hover {
      border-color: transparent;
      background-color: $c-violet-light;
      color: $c-white;
    }

    &:active {
      border-color: transparent;
      background-color: $c-violet-dark;
      color: $c-white;
    }
  }
}

.icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  min-width: 16px;
  color: $c-white;
}