.selectContainer {
  padding: 10px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: $c-gray-select;
  border: 1px solid $c-gray-light;
  transition: border-color 0.2s;
}

.selectText {
  width: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $c-black;
  transition: color 0.2s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.selectIcon {
  margin-left: 12px;
  width: 1em;
  height: 1em;
  color: $c-violet;
  transition: transform 0.2s;
}