.selectContainer {
  padding: 10px 12px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: $c-gray-select;
  border: 1px solid $c-gray-light;
  transition: border-color 0.2s;

  &.open {
    & .selectIcon {
      transform: rotateX(180deg);
    }

    & .selectOptions {
      display: flex;
    }
  }
}

.selectText {
  width: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $c-black;
  transition: color 0.2s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
}

.selectIcon {
  margin-left: 12px;
  width: 1em;
  height: 1em;
  color: $c-violet;
  transition: transform 0.2s;
}

.selectOptions {
  z-index: 300;
  display: none;
  position: absolute;
  top: calc(100% + 1px);
  left: -1px;
  width: calc(100% + 2px); // 2px - parent border
  overflow: hidden;
  flex-direction: column;
  align-items: stretch;
  background: $c-gray-select-light;
  border: 1px solid $c-gray-light;
  border-top: none;
  animation: animation-opacity 0.2s;
}

.selectOption {
  padding: 4px 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $c-black;
  cursor: pointer;
  transition: background-color 0.2s;
  user-select: none;

  &:hover, &.selected {
    background-color: $c-gray-select;
  }
}

@keyframes animation-opacity {
 0%{
   opacity: 0;
 }
  100%{
    opacity: 1;
  }
}
