.select {

}

.body {
  position: relative;
  display: flex;
  align-items: center;
}

.button {
  cursor: pointer;
  background-color: yellow;
}

.buttonText {
}

.buttonIcon {

}

.openIcon {
  transform: rotateZ(180deg);
}

.input {
flex-grow: 1;
  background-color: green;
}

.deleteButton {
  cursor: pointer;
  background-color: #f06a4d;

}

.deleteButtonIcon {

}

.options {
  display: none;
  position: absolute;
  top: 100%;
  flex-direction: column;
  align-items: stretch;
  background-color: #8052ff;
}

.openOptions {
display: flex;
}

.option {
cursor: pointer;
}
