
.table {
  margin-left: auto;
  margin-right: auto;
  width: $w-page;
  min-width: $w-page;
  height: auto;
  min-height: 328px;
  margin-bottom: 40px;
}

.head {

}

.body {
  background-color: $c-white;
}

.row {
}

.loader {
}

.columnHeadCell {
  padding: 8px 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $c-gray-placeholder;
  transition: color 0.2s;
  cursor: pointer;

  &:hover {
    color: $c-violet;
  }
}

.columnRowCell {
  padding: 20px;
}

.cell {
  &__id {

  }

  &__name {

  }

  &__create {

  }

  &__update {

  }

  &__contacts {
  }

  &__actions {

  }
}

.bodyCell{
  &__id {

  }

  &__name {

  }

  &__create {

  }

  &__update {

  }

  &__contacts {
  }

  &__actions {

  }
}