.row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.modalHead {
  margin-bottom: 32px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.modalTitle {
  display: flex;
  align-items: flex-end;
  padding-right: 8px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1em;
}

.modalId {
  padding-right: 52px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1em;
  color: #B0B0B0;
}

.input {
  margin-bottom: 14px;
}

.contacts {
  margin: 26px 0;
}

.buttonSend {
  margin: 26px auto 6px;
}

.buttonClose {
  margin-right: auto;
  margin-left: auto;
}

.errorRow {
  width: 100%;
  height: auto;
  padding-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error {
  width: 100%;
  max-width: 255px;
  height: auto;
  white-space: normal;

  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  color: $c-red;
}