.cell {
  width: 100%;
  height: 100%;
  transition: color 0.2s;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.text {
}

.icon {
  display: none;
  margin: 2px;
  width: 8px;
  height: 8px;
  transition: transform 0.2s;
  color: $c-violet;
}

.description{
  display: none;
  color: $c-violet;
}

.sorted {
  display: flex;
}

.arrowUp{
  transform: rotateX(180deg);
}

