// colors
$c-violet: #9873ff;
$c-violet-light: #b89eff;
$c-violet-dark: #8052ff;
$c-white: #ffffff;
$c-black: #333333;
$c-gray-light: #c8c5d1;
$c-gray-bg: #c8c5d133;
$c-gray-placeholder: #b0b0b0;
$c-gray-bg: #f5f5f5;
$c-red: #f06a4d;
