.button {
  padding: 4px 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-decoration-line: underline;
  color: $c-black;
  transition: color 0.2s;

  &:hover, &:focus {
    color: $c-violet-dark;
  }
}